.masonry {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(25px, auto));
   grid-auto-rows: 25px;
   justify-content: stretch;
   align-items: stretch;
   column-gap: 10px;
   row-gap: 10px;
   grid-auto-flow: dense;
}